.gallerybp-container {
  width: 100%;
  max-width: 900px;
  margin: 60px auto 0 auto;
  text-align: center;
  font-family: 'Georgia', 'Times New Roman', Times, serif;
  color: #222;
  background: transparent;
}

.gallerybp-title-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
}

.gallerybp-line {
  flex-grow: 1;
  height: 1.5px;
  background: #222;
  border: none;
  margin-right: 2vw;
}

.gallerybp-line-r {
  flex-grow: 1;
  height: 1.5px;
  background: #222;
  border: none;
  margin-left: 2vw;
}

.gallerybp-title {
  font-size: 4vw;
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  font-family: 'Cinzel';
}

.gallerybp-subtitle {
  font-size: 1.8vw;
  font-weight: 400;
  margin: 0 0 28px 0;
  letter-spacing: 1px;
  color: #222;
  font-family: 'Cinzel';
}

.gallerybp-description {
  /* font-size: 1.2vw; */
  color: #222;
  /* max-width: 800px; */
  margin: 0 auto;
  line-height: 1.6;
  font-family: 'Atyp Display';
  opacity: 0.85;
}

@media (max-width: 600px) {
  .gallerybp-container {
    margin-top: 30px;
    padding: 0 10px;
  }
  .gallerybp-title {
    font-size: 2rem;
  }
  .gallerybp-subtitle {
    font-size: 1.05rem;
  }
  .gallerybp-description {
    font-size: 0.92rem;
  }
  .gallerybp-line {
    margin: 0 8px;
  }
}
