.contact-landing-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  
  .contact-landing-img {
    width: 100%;
    height: 70vh;
    display: block;
    /* object-fit: contain; */
  }
  
  .desktop-img {
    display: block;
  }
  .mobile-img {
    display: none;
  }
  
  @media (max-width: 600px) {
    .desktop-img {
      display: none;
    }
    .mobile-img {
      display: block;
    }
  }
  